body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 16px;
  background: darkmagenta;
  color: white;
  font-weight: 900;
  font-size: 32px;
  display: flex;
  align-items: center;
}

.main {
  display: inline-flex;
  flex: 1;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  flex-shrink: 0;
}

.cards {
    padding: 48px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  margin: 12px;
  width: 350px;
  height: 325px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin: 0;
  padding: 16px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}